@import "tailwindcss";

.hover:hover {
    transform: scale(1.05);
    transition: 0.7s;
}
.hover {
    transition: 0.7s;
}

.after {
    position: relative;
}

.after::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
}