@import "tailwindcss";

.hover:hover {
    transform: scale(1.05);
    transition: 0.7s;
}
.hover {
    transition: 0.7s;
}

.after {
    position: relative;
    transition: 0.6s;
}

.after:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #B59571;
    transition: 0.6s;
}